@import '@assets/styles/variables.scss';
@import '@assets/styles/mixins.scss';

.nav {
   padding: 15px 0;
   box-shadow: 0px 10px 63px 0px #00000012;
   margin-bottom: 100px;

   &__list {
      margin: 0;
      padding: 0;
      list-style: none;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
   }
}

.logo {
   text-decoration: none;
   display: flex;
   align-items: center;
   gap: 12px;

   &__text {
      @include defineFontSFUIDisplay(300, 24px, 24px);
      color: $red-primary;
   }
}

.statistic {
   text-decoration: none;
   display: grid;
   grid-template-columns: repeat(2, auto);
   gap: 5px;

   &:hover,
   &:active,
   &:focus-visible {
      .statistic__text {
         color: $red-dark;
      }

      .statistic__image path {
         fill: $red-dark;
      }
   }

   &__image {
      & path {
         transition: 0.2s fill ease-in-out;
      }
   }

   &__text {
      @include defineFontSFUIDisplay(400, 16px, 18px);
      color: $red-primary;
      transition: 0.2s color ease-in-out;
   }
}