$white: #ffffff;

$grayF4: #F4F4F4;
$grayC4: #C4C4C4;
$gray99: #999999;
$grayEC: #ECECEC;

$grafit: #333333;

$red-coral: #EA8979;
$red-light: #EE735D;
$red-primary: #DC3E22;
$red-dark: #B7280F;

$green: #A8B64F;
$green-dark: #899441;

$orange: #FFDDA9;
$violet: #DFDCFE;
$blue: #C5F1FF;